[Unit]
Description=MercuryMS Webhook Server
After=network.target

[Service]
Type=simple
User=mercuryms
Group=mercuryms
WorkingDirectory=/usr/share/mercuryms
ExecStart=/opt/mercuryms/bin/python /opt/mercuryms/mms-download.py
Environment="MERCURYMS_PORT=9092"

[Install]
WantedBy=multi-user.target
